body {
    margin: 0;
    padding: 0;
    background-color: black;
}

div.hidden {
    display: none
}

#splash {
    font-family: 'Inconsolata', monospace;
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    font-size: 8vh;
}

#splash h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

#about {
    color: white;
    padding-left: 12vw;
    padding-top: 6vh;
    margin-right: 20vw;
    line-height: 1.4;
    margin-bottom: 15vh;
}

#about h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 5vh;
}

#about p {
    font-family: 'Inconsolata', monospace;
    font-size: 2.5vh;
    opacity: 0.8;
}

#projects {
    color: white;
    padding-bottom: 3vh;
    padding-left: 12vw;
}

#projects h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 5vh;
    margin-bottom: 0;
}

.project {
    margin-top: 5vh;
}

#project1 {
    margin-top: 3.75vh;

}

.project h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    margin-top: 1vh;
}

.project p {
    font-family: 'Inconsolata', monospace;
    font-size: 2.2vh;
    line-height: 1.5;
    opacity: 0.8;
}

.projectimage {
    height: 25vh;
    width: auto;
    -webkit-backface-visibility: hidden;
}

.projectimagemobile {
    height: 25vh;
    width: auto;
}

#project1image {
    margin-left: 2.8vw;
}

#project2image {
    margin-left: 2.8vw;
}

#project3image {
    margin-top: 2vh;
}

#project4image {
    width: auto;
    height: 30vh;
}

#project5image {
    margin-left: 1.4vw;
}

#footer {
    margin-top: 16vh;
    margin-bottom: 10vh;
    text-align: center;
    background-color: black;
    color: white;
}

#footer h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 5vh;
    margin-bottom: 2.5vh;
}

#footer p {
    font-family: 'Inconsolata', monospace;
    font-size: 2.5vh;
    opacity: 0.8;
    margin-top: 0;
}

#footer i {
    font-size: 8vh;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.8;
}

#centerme {
    display: flex;
    display: -webkit-flex;
    clear: both;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    #splash {
        font-size: 7.8vw;
    }
    #about {
        padding-left: 12vw;
        margin-right: 10vw;
    }
    #about h2 {
        font-size: 4vh;
    }

    #about p {
        font-size: 2.5vh;
    }
    #projects h2 {
        font-size: 4vh;
    }
}

@media only screen and (max-width: 1200px) {
    #container {
        width: 75%;
        text-align: center;
    }
    .seven.columns {
        width: 75%;
    }
    .one.column {
        width: 10%;
    }
    #desc{
        margin-right:4%;
        margin-left: 4%;
    }
}

@media only screen and (max-width: 770px){
    .one.column {
        width: 20%;
    }
}

@media only screen and (max-width: 550px) {
    .project {
        margin-right: 12vw;
    }
    .one.column {
        width: 30%;
    }
}

/*Arrow Animation*/

.downArrow {
    background-color: black;
    margin-top: 70vh;
}

#arrow {
    height: 4vh;
}

.bounce {
    -moz-animation: bounce 12s;
    -webkit-animation: bounce 12s;
    animation: bounce 12s;
    animation-iteration-count: 2;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
